In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
# loading the data from csv file to a pandas Dataframe
raw_mail_data = pd.read_csv('/content/spam mail dataset final ().csv')

In [ ]:
print(raw_mail_data)

     Unnamed: 0 label                                               text
0           605   ham  Subject: Thanks for signing into Google on you...
1          2349   ham  Subject: Megha, take the next step on your Win...
2          3624   ham  Subject: Placement war: Students from these II...
3          4685  spam  Subject:Enroll in any course, get 2 Linux berk...
4          2030  spam  Subject:Have ideas to improve healthcare in In...
..          ...   ...                                                ...
115        4362  spam    Subject: young sluts had sex for tewnty bucks\r
116        2432   ham   Subject: take 30 % off with our super ticket !\r
117        2012   ham                            Subject: updated list\r
118        2862   ham             Subject: hpl nom for march 27 , 2001\r
119        4095  spam       Subject: what she doesnt know sprig bashaw\r

[120 rows x 3 columns]

In [ ]:

mail_data = raw_mail_data.where((pd.notnull(raw_mail_data)),'')

In [ ]:

mail_data.head()

   Unnamed: 0 label                                               text
0         605   ham  Subject: Thanks for signing into Google on you...
1        2349   ham  Subject: Megha, take the next step on your Win...
2        3624   ham  Subject: Placement war: Students from these II...
3        4685  spam  Subject:Enroll in any course, get 2 Linux berk...
4        2030  spam  Subject:Have ideas to improve healthcare in In...

In [ ]:

mail_data.shape

(120, 3)

In [ ]:
mail_data.loc[mail_data['label'] == 'spam mail', 'label'] = 0
mail_data.loc[mail_data['label'] == 'ham mail', 'label'] = 1

spam 0
ham 1

In [ ]:


X = mail_data['text']

Y = mail_data['label']

In [ ]:
print(X)

0      Subject: Thanks for signing into Google on you...
1      Subject: Megha, take the next step on your Win...
2      Subject: Placement war: Students from these II...
3      Subject:Enroll in any course, get 2 Linux berk...
4      Subject:Have ideas to improve healthcare in In...
                             ...
115      Subject: young sluts had sex for tewnty bucks\r
116     Subject: take 30 % off with our super ticket !\r
117                              Subject: updated list\r
118               Subject: hpl nom for march 27 , 2001\r
119         Subject: what she doesnt know sprig bashaw\r
Name: text, Length: 120, dtype: object

In [ ]:
print(Y)

0       ham
1       ham
2       ham
3      spam
4      spam
       ...
115    spam
116     ham
117     ham
118     ham
119    spam
Name: label, Length: 120, dtype: object

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=3)

In [ ]:
print(X.shape)
print(X_train.shape)
print(X_test.shape)

(120,)
(96,)
(24,)

Feature Extraction

In [ ]:

feature_extraction = TfidfVectorizer(min_df = 1, stop_words='english', 
                                     lowercase='True')

X_train_features = feature_extraction.fit_transform(X_train)
X_test_features = feature_extraction.transform(X_test)

In [ ]:
print(X_train)

82          Subject: the bull reccomends this stokkpic\r
78       Subject: re : cornhusker - lone star payments\r
34     Subject: enron / hpl actuals for august 28 , 2...
87             Subject: hpl noms . for jan . 17 , 2001\r
109                Subject: meter # 1591 lamay gaslift\r
                             ...
72                    Subject: notification of bequest\r
56            Subject: pathing procedures for buybacks\r
3      Subject:Enroll in any course, get 2 Linux berk...
24     Subject: neon retreat\r ho ho ho , we ' re aro...
106    Subject: 108 mbps wireless firewall 4 - port r...
Name: text, Length: 96, dtype: object

In [ ]:
print(X_train_features)

  (0, 383)	0.5733541089067111
  (0, 323)	0.5733541089067111
  (0, 75)	0.5733541089067111
  (0, 387)	0.11745295824019764
  (1, 292)	0.4973976768671659
  (1, 378)	0.4973976768671659
  (1, 236)	0.4973976768671659
  (1, 110)	0.4973976768671659
  (1, 387)	0.10189310177134538
  (2, 17)	0.3343239299866351
  (2, 27)	0.4987655275233687
  (2, 57)	0.4987655275233687
  (2, 38)	0.3865166744136231
  (2, 197)	0.3343239299866351
  (2, 146)	0.345088962535088
  (2, 387)	0.10217330924436438
  (3, 18)	0.37023608370689753
  (3, 12)	0.5170791824731042
  (3, 216)	0.5170791824731042
  (3, 266)	0.4436576330900009
  (3, 197)	0.34659962419031665
  (3, 387)	0.10592490518938735
  (4, 173)	0.5239620272454901
  (4, 228)	0.5239620272454901
  (4, 11)	0.5239620272454901
  :	:
  (92, 307)	0.5733541089067111
  (92, 290)	0.5733541089067111
  (92, 387)	0.11745295824019764
  (93, 69)	0.44499805838659656
  (93, 65)	0.44499805838659656
  (93, 233)	0.44499805838659656
  (93, 112)	0.44499805838659656
  (93, 145)	0.44499805838659656
  (93, 387)	0.09941649843358863
  (94, 448)	0.2668615871304086
  (94, 407)	0.2668615871304086
  (94, 446)	0.2668615871304086
  (94, 193)	0.8005847613912257
  (94, 335)	0.2668615871304086
  (94, 261)	0.2668615871304086
  (94, 387)	0.054667233324459504
  (95, 30)	0.36172796305209864
  (95, 342)	0.36172796305209864
  (95, 299)	0.36172796305209864
  (95, 159)	0.36172796305209864
  (95, 444)	0.36172796305209864
  (95, 245)	0.36172796305209864
  (95, 6)	0.36172796305209864
  (95, 0)	0.2803198729783112
  (95, 387)	0.07410083694993225



```

```



Logistic Regression

In [ ]:
model = LogisticRegression()

In [ ]:
# training the Logistic Regression model with the training data
model.fit(X_train_features, Y_train)

LogisticRegression()

Evaluating the trained model

In [ ]:
# prediction on training data

prediction_on_training_data = model.predict(X_train_features)
accuracy_on_training_data = accuracy_score(Y_train, prediction_on_training_data)

In [ ]:
print('Accuracy on training data : ', accuracy_on_training_data)

Accuracy on training data :  0.7395833333333334

In [ ]:
# prediction on test data

prediction_on_test_data = model.predict(X_test_features)
accuracy_on_test_data = accuracy_score(Y_test, prediction_on_test_data)

In [ ]:
input_mail = ["Subject:Have ideas to improve healthcare in India? You have a chance to win ZS PRIZE"] 
input_data_features = feature_extraction.transform(input_mail)

# making prediction

prediction = model.predict(input_data_features)
print(prediction)

['ham']